@model Models.Entities.User.EmployeeDocuments
@using Utilities.Convertors
@{
    ViewData["Title"] = "اطلاعات خدمت رسان ";
}


<head>
    <style>

        .hiddenn {
            display: none;
        }
    </style>
</head>

<div class="content-wrapper" style="min-height: 539px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>اطلاعات و مدارک خدمت رسان </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">اطلاعات و مدارک </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <form asp-action="EmployeeInformation" asp-controller="EmployeeInformation" asp-area="Admin" method="post" enctype="multipart/form-data">
                <div style="color: darkred;" asp-validation-summary="ModelOnly"></div>

                <div class="row">

                    <input type="hidden" asp-for="Userid" />
                    <input type="hidden" asp-for="Id" value="@ViewBag.Id" />
                    <input type="hidden" asp-for="EmployeeCertificate" />
                    <input type="hidden" asp-for="PersonalPicture" />
                    <input type="hidden" asp-for="PossitionId" />
                    <input type="hidden" asp-for="BirthDay" />
                    <input type="hidden" asp-for="PersonalCodeDate" />
                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">  عکس 3*4  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="card-body row">

                                    @if (Model.PersonalPicture == null)
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgAvatar" class="img-responsive rounded" src="~/Images/EmployeeDocuments/Defult.jpg" alt="upload_img">

                                    }
                                    else
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgAvatar" class="img-responsive rounded" src="~/Images/EmployeeDocuments/@Model.PersonalPicture" alt="upload_img">

                                    }

                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @*<input type="file" class="custom-file-input" name="Picture" id="Picture">*@
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Horizontal Form -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">  تصویر اجاره نامه   </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="card-body row">

                                    @if (Model.EmployeeCertificate == null)
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgEmployee" class="img-responsive rounded" src="~/Images/EmployeeDocuments/EmployeeCertificate.jpg" alt="upload_img">

                                    }
                                    else
                                    {
                                        <img style="margin:auto; width:342px; height:250px" id="imgEmployee" class="img-responsive rounded" src="~/Images/EmployeeDocuments/@Model.EmployeeCertificate" alt="upload_img">

                                    }



                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @*<input type="file" class="custom-file-input" name="Certificate" id="Certificate">*@
                                            <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> اطلاعات شخصی </h3>
                            </div>


                            <div class="row">
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> نام و نام خانوادگی    </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="FamilyName" placeholder="نام و نام خانوادگی را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">  نام پدر  </label>
                                        <input type="text" class="form-control" asp-for="FatherName" id="exampleInputEmail1" placeholder="نام پدر را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">  شماره شناسنامه    </label>
                                        <input type="text" class="form-control" asp-for="CertificateCode" id="exampleInputEmail1" placeholder="شماره شناسنامه را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   کدملی     </label>
                                        <input type="text" class="form-control" asp-for="PersonalCode" id="exampleInputEmail1" placeholder="کدملی را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   تاریخ تولد      </label>
                                        <input type="text" class="form-control"  id="BirthDayeDate" value="@Model.BirthDay.ToShamsi()" placeholder="تاریخ تولد را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   تاریخ صدور شناسنامه      </label>
                                        <input type="text" class="form-control"  value="@Model.PersonalCodeDate.ToShamsi()" id="PersonalCodeCreateDate" placeholder="تاریخ صدور شناسنامه را وارد کنید">
                                    </div>

                                </div>

                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   محل صدور شناسنامه      </label>
                                        <input type="text" class="form-control" asp-for="PersonalCodeLocation" id="exampleInputEmail1" placeholder="محل صدور شناسنامه را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   محل تولد       </label>
                                        <input type="text" class="form-control" asp-for="BirthdayLocation" id="exampleInputEmail1" placeholder="محل تولد شناسنامه را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   دین(مذهب )       </label>
                                        <input type="text" class="form-control" asp-for="Religion" id="exampleInputEmail1" placeholder="مذهب خود را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   وضعیت تاهل        </label>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="MariatalStatus" value="true"
                                                       @((Model.MaritalStatus == true) ? "checked" : "")>
                                                <label class="form-check-label"> مجرد </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="MaritalStatus" value="false"
                                                       @((Model.MaritalStatus == false) ? "checked" : "")>
                                                <label class="form-check-label"> متاهل </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> وضعیت سلامت   </h3>
                            </div>
                            <div class="row">
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   سلامت وضعیت روحی و جسمانی         </label>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="HealthStatus" value="true"
                                                       @((Model.HealthStatus == true) ? "checked" : "")>
                                                <label class="form-check-label"> بله  </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="HealthStatus" value="false"
                                                       @((Model.HealthStatus == false) ? "checked" : "")>
                                                <label class="form-check-label"> خیر  </label>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            درصورت خیر فیلد زیر را پر کنید
                                        </label>
                                        <input type="text" class="form-control" asp-for="HealthStatusDescription" id="exampleInputEmail1" placeholder="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> وضعیت  خدمت نظام وظیفه     </h3>
                            </div>
                            <div class="row">
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   خمت نظام وظیفه          </label>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="MilitaryService" value="true"
                                                       @((Model.MilitaryService == true) ? "checked" : "")>
                                                <label class="form-check-label"> انجام داده   </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="MilitaryService" value="false"
                                                       @((Model.MilitaryService == false) ? "checked" : "")>
                                                <label class="form-check-label"> معاف از خدمت   </label>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            درصورت معافیت  فیلد زیر را پر کنید
                                        </label>
                                        <input type="text" class="form-control" asp-for="MilitaryServiceDesCription" id="exampleInputEmail1" placeholder="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-primary">

                            <div class="card-header">
                                <h3 class="card-title">  سوابق تحصیلی  و آموزشی  </h3>
                            </div>

                            <div class="row">
                                <div class="card-body col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> آخرین مدرک تحصیلی     </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="LastEducationalCertificate" placeholder="آخرین مدرک تحصیلی  را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> رشته ی تحصیلی      </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="FieldOfStudy" placeholder="رشته ی تحصیلی   را وارد کنید">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-primary">

                            <div class="card-header">
                                <h3 class="card-title">  تجربیات شغلی   </h3>
                            </div>

                            <div class="row">
                                <div class="card-body col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> نام آخرین محل فعالیت      </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="LastWorkExperience" placeholder="نام آخرین محل فعالیت  را وارد کنید">
                                    </div>

                                </div>
                                <div class="card-body col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> سمت شغلی       </label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" asp-for="LastWorkExperience" placeholder="سمت شغلی    را وارد کنید">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> سابقه ی کیفری     </h3>
                            </div>
                            <div class="row">
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   آیا سابقه ی کیفری دارید ؟         </label>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="HistoryOfDetention" value="true"
                                                       @((Model.HistoryOfDetention == true) ? "checked" : "")>
                                                <label class="form-check-label"> بله    </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="HistoryOfDetention" value="false"
                                                       @((Model.HistoryOfDetention == false) ? "checked" : "")>
                                                <label class="form-check-label"> خیر    </label>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card-body col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            اگر سابقه ی کیفری دارید دلیل آن را ذکر کنید
                                        </label>
                                        <input type="text" class="form-control" asp-for="HistoryOfDetentionDescription" id="exampleInputEmail1" placeholder="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> تعهد نامه       </h3>
                            </div>
                            <div class="row">
                                <div class="card-body col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">   بدینوسیله صحت کلیه ی اطلاعات مندرج در این فرم را تایید می نمایم          </label>
                                        <div class="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="Obligation" value="true"
                                                       @((Model.Obligation == true) ? "checked" : "")>
                                                <label class="form-check-label"> بله    </label>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> نظر پشتیبانی  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->


                            <div class="row">
                                <div class="card-body col-md-12">
                                    <label>  نتیجه ی برسی   </label>
                                    <select id="VideoType" name="PossId" class="form-control" onchange="ChangeSelect()">
                                        <option selected>نتیجه ی برسی خود را اعلام کنید </option>
                                        <option value="@false">تایید نشده  </option>
                                        <option value="@true">تایید شده </option>

                                    </select>
                                </div>
                            </div>


                            <div class="row">

                                <div id="Aparat" class="hiddenn card-body col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> علت عدم پذیرش  </label>
                                        <input type="text" class="form-control" asp-for="Description" id="exampleInputEmail1" placeholder="علت عدم پذیرش مدارک خدمت رسان را بیان کنید ">
                                    </div>

                                </div>


                            </div>


                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </div>


                    </div>

                </div>

            </form>

        </div>
    </section>
</div>


@section Scripts
{

    <script>

        function ChangeSelect() {

            let e = document.getElementById("VideoType");
            let value = e.options[e.selectedIndex].value;


            if (value == "@false") {

                document.getElementById("Aparat").classList.remove('hiddenn');


            }

            else {

                document.getElementById("Aparat").classList.add('hiddenn');

            }

        }

    </script>
    <script>

        function readURL1(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Picture").change(function () {
            readURL1(this);
        });
    </script>


    <script>
        function readURL2(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgEmployee').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#Certificate").change(function () {
            readURL2(this);
        });
    </script>

  
}