@model List<Models.Entities.EmployeeReservation.HourReservation>
@using Utilities.Convertors
@{
    Layout = "~/Areas/Employee/Views/Shared/_TestLayout.cshtml";
    ViewData["Title"] = "لیست ساعات";
}


@section Styls
    {

    <!-- DataTables -->
    <link rel="stylesheet" href="/Admin_Panel/plugins/datatables/dataTables.bootstrap4.css">

}


<div class="content-wrapper" style="min-height: 805px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> لیست ساعات </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Employee">خانه</a></li>
                        <li class="breadcrumb-item active">لیست ساعات </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    @if (ViewBag.Create == true)
    {
        <div class="col-md-12">
            <div class="card bg-success-gradient">
                <div class="card-header">
                    <h3 class="card-title"> ثبت با موفقیت </h3>

                    <div class="card-tools">
                        <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    ثبت تاریخ جدید با موفقیت انجام شده است
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);</script>
    }
    @if (ViewBag.Edit == true)
    {
        <div class="col-md-12">
            <div class="card bg-primary-gradient">
                <div class="card-header">
                    <h3 class="card-title"> ویرایش با موفقیت </h3>

                    <div class="card-tools">
                        <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    ویرایش تاریخ  با موفقیت انجام شده است
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);</script>
    }
    @if (ViewBag.Delete == true)
    {
        <div class="col-md-12">
            <div class="card bg-danger-gradient">
                <div class="card-header">
                    <h3 class="card-title"> حذف با موفقیت </h3>

                    <div class="card-tools">
                        <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    حذف تاریخ  با موفقیت انجام شده است
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);</script>
    }


    <section class="content">
        <div class="row">
            <div class="col-12">


                <div class="card ">
                    <div class="card-header">
                        <div class="card-tools">
                            @if (ViewBag.History != true)
                            {
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <a href="/Employee/EmployeeReservation/CreateHourReservation/@ViewBag.DateReservation" class="btn btn-block btn-primary btn-sm waves-effect">افزودن ساعت جدید  </a>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                                    <thead>
                                        <tr role="row">



                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 100.317px;" aria-label="وضعیت: activate to sort column ascending">ساعت شروع  </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 100.317px;" aria-label="وضعیت: activate to sort column ascending">ساعت پایان  </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 100.317px;" aria-label="وضعیت: activate to sort column ascending">وضعیت  </th>

                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 420.6px;" aria-label=" activate to sort column ascending"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@item.StartHourReservation</td>
                                                <td>@item.EndHourReservation</td>
                                                <td>
                                                    @if (item.ReservationStatusID == 1)
                                                    {

                                                        <a class="btn btn-success btn-sm" style="color:white">
                                                            @item.ReservationStatus.PersianStatus
                                                        </a>
                                                    }
                                                    @if (item.ReservationStatusID == 2)
                                                    {
                                                        <a class="btn btn-dark btn-sm" style="color:white">
                                                            @item.ReservationStatus.PersianStatus
                                                        </a>
                                                    }
                                                </td>
                                                <td>

                                                    @if (item.ReservationStatusID == 2 && ViewBag.History != true)
                                                    {
                                                        <a class="btn btn-outline-primary btn-sm waves-effect"
                                                           asp-action="UpdateHourReservation" asp-controller="EmployeeReservation" asp-area="Employee" asp-route-id="@item.HourReservationID">
                                                            <i class="glyphicon glyphicon-edit"></i>
                                                            ویرایش
                                                        </a>
                                                        <a class="btn btn-outline-danger btn-sm waves-effect"
                                                           href="/Employee/EmployeeReservation/UpdateHourReservation?id=@item.HourReservationID&&Delete=true">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                            حذف
                                                        </a>
                                                    }
                                                    @if(item.ReservationStatusID == 1 )
                                                    {
                                                        <a class="btn btn-outline-info btn-sm waves-effect"
                                                           asp-action="HoureReservationInfo" asp-controller="EmployeeReservation" asp-area="Employee" asp-route-id="@item.HourReservationID">
                                                            <i class="glyphicon glyphicon-edit"></i>
                                                            برسی جزییات  
                                                        </a>
                                                    }



                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section> <!-- /.content -->
</div>




@section scripts{
    <!-- ./wrapper -->

    <script src="/Admin_Panel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Admin_Panel/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <!-- FastClick -->
    <script src="/Admin_Panel/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
            });
            $('#example2').DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "autoWidth": false
            });
        });</script>
}

